*{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
body{
    text-align: center;
    background-color: beige;
}
#header {
    background-color: aquamarine;
    text-align: right;
    position: fixed;

}
#footer {
    background-color: lightgreen;
    
}
.styled{
}
#img{
    width: 300px;
}

ul{
    list-style: none;
}